@page "/currencies/delete"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SportMapDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Currency</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Currency</h2>
    <hr />
    @if (currency is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <MyEntityViewer Entity="currency" />

        <EditForm method="post" Model="currency" OnValidSubmit="DeleteCurrency" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(currency is null)">Delete</button> |
            <a href="/currencies">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Currency? currency;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        currency = await context.Currencies.FirstOrDefaultAsync(c => c.Id == Id);

        if (currency is null)
        {
            NavigationManager.NavigateTo("currencies");
        }
    }

    private async Task DeleteCurrency()
    {
        using var context = DbFactory.CreateDbContext();
        context.Currencies.Remove(currency!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/currencies");
    }
}
