@page "/currencies/details"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SportMapDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Currency Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Currency</h2>
    <hr />
    @if (currency is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <MyEntityViewer Entity="currency" />
        <div>
            <a href="@($"/currencies/edit?id={currency.Id}")">Edit</a> |
            <a href="@($"/currencies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Currency? currency;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        currency = await context.Currencies.FirstOrDefaultAsync(c => c.Id == Id);

        if (currency is null)
        {
            NavigationManager.NavigateTo("currencies");
        }
    }
}
