@page "/countries/create"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SportMapDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Country</PageTitle>

<h1>Create</h1>

<h2>Country</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Country" OnValidSubmit="AddCountry" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <MyPropertyEditor TValue="string" Id="name" Label="Name:" @bind-Value="Country.Name" />
            <MyPropertyEditor TValue="string" Id="code" Label="Code:" @bind-Value="Country.Code" />
            <MyPropertyEditor TValue="string" Id="isocode" Label="IsoCode:" @bind-Value="Country.IsoCode" />
            <MyPropertyEditor TValue="string" Id="officialname" Label="OfficialName:" @bind-Value="Country.OfficialName" />
            <MyPropertyEditor TValue="string" Id="nativename" Label="NativeName:" @bind-Value="Country.NativeName" />
            <MyPropertyEditor TValue="string" Id="numericcode" Label="NumericCode:" @bind-Value="Country.NumericCode" />
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/countries">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Country Country { get; set; } = default!;

    protected override void OnInitialized() => Country ??= new();

    private async Task AddCountry()
    {
        using var context = DbFactory.CreateDbContext();
        context.Countries.Add(Country);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/countries");
    }
}
