@page "/countries/edit"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SportMapDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Country</PageTitle>

<h1>Edit</h1>

<h2>Country</h2>
<hr />
@if (Country is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Country" OnValidSubmit="UpdateCountry" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Country.Id" value="@Country.Id" />
                <MyPropertyEditor TValue="string" Id="name" Label="Name:" @bind-Value="Country.Name" />
                <MyPropertyEditor TValue="string" Id="code" Label="Code:" @bind-Value="Country.Code" />
                <MyPropertyEditor TValue="string" Id="isocode" Label="IsoCode:" @bind-Value="Country.IsoCode" />
                <MyPropertyEditor TValue="string" Id="officialname" Label="OfficialName:" @bind-Value="Country.OfficialName" />
                <MyPropertyEditor TValue="string" Id="nativename" Label="NativeName:" @bind-Value="Country.NativeName" />
                <MyPropertyEditor TValue="string" Id="numericcode" Label="NumericCode:" @bind-Value="Country.NumericCode" />
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/countries">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private Country? Country { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Country ??= await context.Countries.FirstOrDefaultAsync(c => c.Id == Id);

        if (Country is null)
        {
            NavigationManager.NavigateTo("countries");
        }
    }

    private async Task UpdateCountry()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Country!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CountryExists(Country!.Id))
            {
                NavigationManager.NavigateTo("countries");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/countries");
    }

    private bool CountryExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Countries.Any(e => e.Id == id);
    }
}
